{% extends "web/base.html" %}
<!----TEMPLATE CELULARES  DE LA PAGINA----!>
<!----------------------------------->
{% load static %}

{% block contenido %}

<main>
    <section class="services">

        <div class="container">

            <article class="container-cards">
                {% load humanize%}
                    {% for p in productos %} 
                    {%if p.id == 8%}
                        <div class="card">
                            {% if p.imagen %}
                            <img src="{{p.imagen.url}}" width=100%>
                            {% endif%}
                                 
                            <div class="cards__text">
                                <p class="card__list"> {{p.nombre | capfirst}} </p>
                                <p class="card__copy">Valor Actual  ${{p.Precio | intcomma}}</p>
                                <p class="card__copy">Valor Ahora  ${{p.descuento | intcomma }}</p>
                                <a href="{% url 'inicio' %}" class="card__button">Mas informacion &#10140;</a>
                            </div>           
                        </div> 
                        {% endif%}

                        {%if p.id == 14%}
                        <div class="card">
                            {% if p.imagen %}
                            <img src="{{p.imagen.url}}" width=100%>
                            {% endif%}
                                 
                            <div class="cards__text">
                                <p class="card__list"> {{p.nombre | capfirst}} </p>
                                <p class="card__copy">Valor Actual  ${{p.Precio | intcomma}}</p>
                                <p class="card__copy">Valor Ahora  ${{p.descuento | intcomma }}</p>
                                <a href="{% url 'inicio' %}" class="card__button">Mas informacion &#10140;</a>
                            </div>           
                        </div> 
                        {% endif%}

                        {%if p.id == 17%}
                        <div class="card">
                            {% if p.imagen %}
                            <img src="{{p.imagen.url}}" width=100%>
                            {% endif%}
                                 
                            <div class="cards__text">
                                <p class="card__list"> {{p.nombre | capfirst}} </p>
                                <p class="card__copy">Valor Actual  ${{p.Precio | intcomma}}</p>
                                <p class="card__copy">Valor Ahora  ${{ p.descuento | intcomma }}</p>
                                <a href="{% url 'inicio' %}" class="card__button">Mas informacion &#10140;</a>
                            </div>           
                        </div> 
                        {% endif%}
                    {% endfor %}
            </article>
        </div>

    </section>

</main>

{% endblock %}